<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @param.name %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @param.stage %>
</p>

<p>
  <strong>Associd:</strong>
  <%= @param.associd %>
</p>

	<table>
		<tr>
			<th>Parameter Name </th>
			<th>Key </th>
			<th>Value </th>
		</tr>
		<% @values.each do |val| %>
		<tr>
			<td> <%= val.param.name %> </td>
			<td> <%= val.key %> </td>
			<td> <%= val.value %> </td>
		</tr>
		<% end %>
	</table>

<%= link_to 'Edit', edit_param_path(@param) %> |
<%= link_to 'Back', params_path %>
