<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @value.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @value.value %>
</p>

<p>
  <strong>Param:</strong>
  <%= @value.param_id %>
</p>

<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
